<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quizapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".QuestionsSetPlayerActivity"></activity>
        <activity android:name=".QuestionEditorActivity"
            android:label="@string/question_editor_label"/>
        <activity android:name=".QuestionsSetsEditorActivity"
            android:label="@string/editor_label"/>
        <activity android:name=".QuestionsListActivity"
            />
        <activity android:name=".QuestionsSetsActivity"
            android:label="@string/questions_sets_list_label"/>
        <activity android:name=".SelectQuestionsSetActivity"
            android:label="@string/player_activity_label"/>
        <activity android:name=".MainMenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>